/**
 * @license
 * MyFonts Webfont Build ID 3618340, 2018-08-02T21:42:19-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed assets/webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: TTProstoSansCondensed-BoldItalic by TypeType
 * URL: https://www.myfonts.com/fonts/type-type/tt-prosto-sans-condensed/bold-italic/
 * Copyright: Copyright (c) 2015 by Typetype. Designer Ivan Gladkikh, technical designer Olexa Volochay. All rights reserved.
 *
 * Webfont: TTProstoSansCondensed-Bold by TypeType
 * URL: https://www.myfonts.com/fonts/type-type/tt-prosto-sans-condensed/bold/
 * Copyright: Copyright (c) 2015 by Typetype. Designer Ivan Gladkikh, technical designer Olexa Volochay. All rights reserved.
 *
 * Webfont: TTProstoSansCondensed-LightItalic by TypeType
 * URL: https://www.myfonts.com/fonts/type-type/tt-prosto-sans-condensed/light-italic/
 * Copyright: Copyright (c) 2015 by Typetype. Designer Ivan Gladkikh, technical designer Olexa Volochay. All rights reserved.
 *
 * Webfont: TTProstoSansCondensed-Light by TypeType
 * URL: https://www.myfonts.com/fonts/type-type/tt-prosto-sans-condensed/light/
 * Copyright: Copyright (c) 2015 by Typetype. Designer Ivan Gladkikh, technical designer Olexa Volochay. All rights reserved.
 *
 * Webfont: TTBackwardsSans-Bold by TypeType
 * URL: https://www.myfonts.com/fonts/type-type/tt-backwards/sans-bold/
 * Copyright: Copyright (c) 2017 by Typetype. Designer Ivan Gladkikh, technical designers Sergey Kotelnikov, Nadyr Rakhimov, Philipp Nurullin. All rights reserved.
 *
 * Webfont: TTBackwardsScript-Light by TypeType
 * URL: https://www.myfonts.com/fonts/type-type/tt-backwards/script-light/
 * Copyright: Copyright (c) 2017 by Typetype. Designer Ivan Gladkikh, technical designers Tanya Cherkiz, Nadyr Rakhimov. All rights reserved.
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3618340
 * Licensed pageviews: 20,000
 *
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/373624");


@font-face {font-family: 'TTProstoSansCondensed-BoldItalic';src: url('assets/webfonts/373624_0_0.eot');src: url('assets/webfonts/373624_0_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/373624_0_0.woff2') format('woff2'),url('assets/webfonts/373624_0_0.woff') format('woff'),url('assets/webfonts/373624_0_0.ttf') format('truetype');}


@font-face {font-family: 'TTProstoSansCondensed-Bold';src: url('assets/webfonts/373624_1_0.eot');src: url('assets/webfonts/373624_1_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/373624_1_0.woff2') format('woff2'),url('assets/webfonts/373624_1_0.woff') format('woff'),url('assets/webfonts/373624_1_0.ttf') format('truetype');}


@font-face {font-family: 'TTProstoSansCondensed-LightItalic';src: url('assets/webfonts/373624_2_0.eot');src: url('assets/webfonts/373624_2_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/373624_2_0.woff2') format('woff2'),url('assets/webfonts/373624_2_0.woff') format('woff'),url('assets/webfonts/373624_2_0.ttf') format('truetype');}


@font-face {font-family: 'TTProstoSansCondensed-Light';src: url('assets/webfonts/373624_3_0.eot');src: url('assets/webfonts/373624_3_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/373624_3_0.woff2') format('woff2'),url('assets/webfonts/373624_3_0.woff') format('woff'),url('assets/webfonts/373624_3_0.ttf') format('truetype');}


@font-face {font-family: 'TTBackwardsSans-Bold';src: url('assets/webfonts/373624_4_0.eot');src: url('assets/webfonts/373624_4_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/373624_4_0.woff2') format('woff2'),url('assets/webfonts/373624_4_0.woff') format('woff'),url('assets/webfonts/373624_4_0.ttf') format('truetype');}


@font-face {font-family: 'TTBackwardsScript-Light';src: url('assets/webfonts/373624_5_0.eot');src: url('assets/webfonts/373624_5_0.eot?#iefix') format('embedded-opentype'),url('assets/webfonts/373624_5_0.woff2') format('woff2'),url('assets/webfonts/373624_5_0.woff') format('woff'),url('assets/webfonts/373624_5_0.ttf') format('truetype');}
 